<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
    <appSettings>
        <add key="ConnectionString" value="Data Source=95.111.252.8\\sql2016,50248;Initial Catalog=GTSystem_Services;User ID=GTSystem_Services_User;Password=sd4ys@teds" /> <!-- Database connection string -->
		<add key="isED" value="N" /> <!--  ConnectionString Encode Decode -->
        <add key="MemoryPercent" value="30" /> <!--  percentage for memory usage -->
        <add key="CPUPercent" value="30" /> <!--  percentage for CPU usage -->
        <add key="RestartHour" value="19" /> <!-- Hour of the day for system restart -->
        <add key="RestartMin" value="30" /> <!-- Minute of the hour for system restart -->
        <add key="MobileNumbers" value="923162100786" /> <!-- Mobile numbers to receive Message -->
        <add key="ZIPPath" value="D:\ali.asghar\asghar\AsgharUpload" /> <!-- Path to the directory to be zipped -->
        <add key="OutputZIP" value="D:\ali.asghar\asghar\" /> <!-- Output directory for the generated ZIP file -->
        <add key="ZIPHour" value="19" /> <!-- Hour of the day for ZIP file creation -->
        <add key="ZIPMin" value="12" /> <!-- Minute of the hour for ZIP file creation -->
        <add key="ZIP_CreationDays" value="3" /> <!-- Number of days after which a new ZIP file should be created -->
        <add key="FtpServer" value="ftp://161.97.175.17" /> <!-- FTP server address -->
        <add key="FtpUsername" value="Ftp_AsgharTemp" /> <!-- FTP username -->
        <add key="FtpPassword" value="Asg@r65Amp" /> <!-- FTP password -->
        <add key="ftpPort" value="284" /> <!-- FTP port number -->
		<add key="EnableSMSAPI" value="false" /> <!-- Enable or disable SMS API  -->
		<add key="EnableZIPUpload" value="true" /> <!-- Enable or disable ZIP Upload  -->
    </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
