<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
    <appSettings>
        <add key="ConnectionString" value="0?%0#711?0#70@20%@1111171140##1010?105705@04?04#04#04#04?05005@05004?05?0#20#211511@10%05004%04#05404405@04%05005205?05#07@11010511?1050#710%0@20?70#711?0#710%11110@0?10710%40%@12111511?10110#0#50%@10111411%1050##10111505#0%51151011140@207@0?%0?10710%40%@12111511?10110#0#50%@10111411%1050##1011150#50%511510111405#0%00#711511511#1111141000?11151000521211150?411?101100115" /> <!-- Database connection string -->
		<add key="isED" value="Y" /> <!--  ConnectionString Encode Decode -->
        <add key="SystemName" value="Asghar" /> <!--  System Name Where Service Running -->
        <add key="SPCallSeconds" value="300" /> <!--  Call SP After Seconds  -->
        <add key="MemoryPercent" value="30" /> <!--  percentage for memory usage -->
        <add key="CPUPercent" value="30" /> <!--  percentage for CPU usage -->
        <add key="RestartHour" value="19" /> <!-- Hour of the day for system restart -->
        <add key="RestartMin" value="30" /> <!-- Minute of the hour for system restart -->
        <add key="MobileNumbers" value="923162100786" /> <!-- Mobile numbers to receive Message -->
        <add key="ZIPPath" value="D:\ali.asghar\asghar\AsgharUpload" /> <!-- Path to the directory to be zipped -->
        <add key="OutputZIP" value="D:\ali.asghar\asghar\" /> <!-- Output directory for the generated ZIP file -->
        <add key="ZIPHour" value="19" /> <!-- Hour of the day for ZIP file creation -->
        <add key="ZIPMin" value="12" /> <!-- Minute of the hour for ZIP file creation -->
        <add key="ZIP_CreationDays" value="3" /> <!-- Number of days after which a new ZIP file should be created -->
        <add key="FtpServer" value="ftp://161.97.175.17" /> <!-- FTP server address -->
        <add key="FtpUsername" value="Ftp_AsgharTemp" /> <!-- FTP username -->
        <add key="FtpPassword" value="Asg@r65Amp" /> <!-- FTP password -->
        <add key="ftpPort" value="284" /> <!-- FTP port number -->
		<add key="EnableSMSAPI" value="false" /> <!-- Enable or disable SMS API  -->
		<add key="EnableZIPUpload" value="false" /> <!-- Enable or disable ZIP Upload  -->
		<add key="EnableScheduleRestart" value="false" /> <!-- Enable or disable ScheduleRestart  -->
    </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
